<h1 class="text-center">Наши кейсы</h1>
<section class="cases-section">
	<div class="container">
		<div class="cases__inner">
			<div class="section__title">
				@@include('../../img/content/text-cases.svg')
			</div>
			<div class="cases-wrap">			
				<div class="cases js-cases">
					<div class="case">
						<div class="case__inner">
							<div class="case__left">
								<div class="case__img" style="background-image: url('./img/content/cases.jpg')"></div>
							</div>
							<div class="case__right">
								<div class="case__content">
									<div class="case__title">
										Готовое решение с доходом<br> <span class="big">874 000</span> руб/мес
									</div>
									<h4>Результаты:</h4>
									<p>
										<b>Инвестиции:</b> 64 000 000 рублей (~140 000 рублей за м2).<br>
										<b>Арендный доход:</b> 874 000 руб/мес с ежегодной индексацией 7%.<br>
										ROI – 16,4%, без учета роста стоимости самого помещения<br>
										ROI ~46%, с учетом роста стоимости самого помещения
									</p>
									<h4>Что сделано:</h4>
									<p>
										При оценке количества коммерческих помещений в проекте будущего комплекса ЛСР и планируемой инфраструктуры района поняли, что есть недостаток продуктовых магазинов – всего 2 небольших магазина на 15 000 жителей.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="case">
						<div class="case__inner">
							<div class="case__left">
								<div class="case__img" style="background-image: url('./img/content/cases2.jpg')"></div>
							</div>
							<div class="case__right">
								<div class="case__content">
									<div class="case__title">
										Разделение помещений для максимизации дохода
									</div>
									<h4>Результаты:</h4>
									<p>
										<b>Инвестиции:</b> 21 870 000 рублей  с рассрочкой платежа на 6 месяцев.<br>
										<b>Арендный доход:</b> 243 000 рублей в месяц с ежегодной индексацией 5%<br>
										ROI – 13,3%, без учета роста стоимости самого помещения<br>
										Стоимость самого помещения выросла к сегодняшнему дню на 30%
									</p>
									<h4>Что сделано:</h4>
									<p>
										Купили для клиента готовое коммерческое помещение площадью 162 м2 в ЖК Вива по цене 135 000 за м2.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="case">
						<div class="case__inner">
							<div class="case__left">
								<div class="case__img" style="background-image: url('./img/content/cases2.jpg')"></div>
							</div>
							<div class="case__right">
								<div class="case__content">
									<div class="case__title">
										Разделение помещений для максимизации дохода
									</div>
									<h4>Результаты:</h4>
									<p>
										<b>Инвестиции:</b> 21 870 000 рублей  с рассрочкой платежа на 6 месяцев.<br>
										<b>Арендный доход:</b> 243 000 рублей в месяц с ежегодной индексацией 5%<br>
										ROI – 13,3%, без учета роста стоимости самого помещения<br>
										Стоимость самого помещения выросла к сегодняшнему дню на 30%
									</p>
									<h4>Что сделано:</h4>
									<p>
										Купили для клиента готовое коммерческое помещение площадью 162 м2 в ЖК Вива по цене 135 000 за м2.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cases__nav">
					<div class="cases__dots"></div>
					<div class="cases__arrows">
						<div class="cases__arrow cases__prev"><i class="icon-arrow-left icon-arrow-left-size"></i></div>
						<span class="counts"><span class="count-cur">01</span> / <span class="counts-all"></span></span>
						<div class="cases__arrow cases__next"><i class="icon-arrow-right icon-arrow-right-size"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="advantages-section">
	<div class="container">
		<div class="advantages__inner">
			<h3>Финансовая выгода от актива</h3>
			<div class="advantages">
				<div class="advantage">
					<h4>Доходность</h4>
					<p>Объекты с доходностью от 12% годовых. (аренда от 100 000 рублей в месяц). </p>
				</div>
				<div class="advantage">
					<h4>Окупаемость</h4>
					<p>Каждому потенциальному покупателю предоставляется плановый расчет доходности и окупаемости объекта, который покупатель сможет при необходимости использовать для сравнения с другими активами.</p>
				</div>
				<div class="advantage">
					<h4>Рост стоимости актива</h4>
					<p>Объекты, купленные на этапе стройки, возрастают в цене к моменту сдачи в среднем на 30 %.</p>
				</div>
				<div class="advantage">
					<h4>Ликвидность</h4>
					<p>Каждому потенциальному покупателю предоставляется плановый расчет доходности и окупаемости объекта, который покупатель сможет при необходимости использовать для сравнения с другими активами. </p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="form-section">
	<div class="container">
		<div class="form-section__inner">
			<form class="form selection-form">
				<div class="selection-form__left">
					<div class="step__progressbar-wrap">
						<div class="step__progressbar-counts">
							<div class="step__progressbar-from">1</div>
							<div class="step__progressbar-divider">из</div>
							<div class="step__progressbar-all">4</div>

						</div>
						<div class="step__progressbar">
							<div class="step__progressbar-current"></div>
						</div>
					</div>
					<div class="steps js-steps">					
						<div class="form-content step-1">
							<div class="field-wrap">
								<div class="field__label">1. Какую сумму вы хотите инвестировать?</div>
								<div class="field">
									<input data-req="req" type="text" class="inp js-digits" placeholder="Введите сумму в рублях">
									<div class="field__message">Заполните поле слева </div>
								</div>
							</div>
							<div class="field_submit">
								<a href="#"	class="btn-submit js-btn-next"><span>Далее</span></a>
							</div>
						</div>
						<div class="form-content step-2">
							<div class="field-wrap">
								<div class="field__label">2. В каком году недвижимость должна начать приносить доход?</div>
								<div class="field">
									<select data-req="req" class="js-select" data-placeholder="Выберите год">
										<option value=""></option>
										<option value="1">2019</option>
										<option value="2">2020</option>
										<option value="3">2021</option>
									</select>
									<div class="field__message">Выберите в поле слева</div>
								</div>
							</div>
							<div class="field_submit">
								<a href="#"	class="btn-submit js-btn-next"><span>Далее</span></a>
							</div>
						</div>
						<div class="form-content step-3">
							<div class="field-wrap">
								<div class="field__label">3. В каком районе вы хотели бы помещение?</div>
								<div class="field">
									<select data-req="req" class="js-select" data-placeholder="Выберите район">
										<option value=""></option>
										<option value="1">Адмиралтейский</option>
										<option value="2">Василеостровский</option>
										<option value="3">Выборский</option>
									</select>
									<div class="field__message">Выберите в поле слева</div>
								</div>
							</div>
							<div class="field_submit">
								<a href="#"	class="btn-submit js-btn-next"><span>Далее</span></a>
							</div>
						</div>
						<div class="form-content step-4">
							<div class="field-wrap field-wrap_double">
								<div class="field-wrap__section">			
									<div class="field__label">4. Укажите прочие требования и пожелания:</div>
									<div class="field">
										<textarea class="inp" placeholder="Опишите здесь"></textarea>
									</div>
								</div>
								<div class="field-wrap__section">			
									<div class="field__label-small">Ваш номер телефона</div>
									<div class="field">
										<input type="text" data-req="req" data-type="tel" class="js-digits inp inp-phone" placeholder="+ 7 (906) 234-945-23">
										<div class="field__message field__message_top">Заполните поле</div>
									</div>
									<label class="checkbox-wrap">
										<input checked type="checkbox" class="checkbox">
										<span class="checkbox-imitator"></span>
										я принимаю условия передачи информации
									</label>
									<div class="field_submit">
										<button type="submit" class="btn-submit js-submit"><span>Далее</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="selection-form__right">
					<h2>Подбор лучших вариантов</h2>
					<p>Заполните форму из 4 вопроссов, и мы подберем 3 самых перспективных  варианта под ваши требования в течение 15 минут.</p>
				</div>
			</form>
		</div>
	</div>
</section>

<div class="success-content">
	<div class="success-popup">
		<a href="#" class="close-btn js-close-popup"></a>
		<div class="h1">Приступаем к работе</div>
		<p>Предоставим 3 отличных варианта уже через 15 минут.</p>
		<p><b>Ожидайте нашего звонка!</b></p>
		<div class="success-popup__thank">
			<!-- @@include('../../img/content/text-thank.svg') -->
		</div>
	</div>
</div>