// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
	background: #E5E5E5;
}

body {
	padding: 0px;
	margin: 0px;
	padding-top: 170px;
	color: $b !important;
	@include md {
		padding-top: 100px;
	}
	@include sm {
		padding-top: 40px;
	}
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
	position: relative;
	outline: none;
	padding: 0;
	margin: 0;
}

.wrapper {
	overflow: hidden;
}