/**
 * Basic typography style for copy text
 */
body {
    color: black;
    font-size: 15px;
    font-family: $sans;
    @include xs {
    	font-size: 14px;
    }
}

// all title classes
h1,.h1 {
	font-family: $sans;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.225;
	margin-bottom: 43px;
	@include sm {
		font-size: 35px;
	}
	@include xs {
		font-size: 30px;
	}
}

h2,.h2 {
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 30px;
	font-size: 40px;
	line-height: 1.225;
	margin-bottom: 20px;
	@include md {
		font-size: 30px;
	}
	@include sm {
		font-size: 25px;
	}
}

h3,.h3 {
	font-family: $serif;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 30px;
}


h4,.h4 {
	font-family: $sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 5px;
    @include xs {
    	font-size: 18px;
    }
}

.color-primary {
	color: $primary;
}

p {
	line-height: 1.4;
}

.text-center {
	text-align: center;
}

[class^='icon-']  {
	background-image: url(../img/ui/icons/sprite/sprite.svg) !important;
	display: inline-flex;
	vertical-align: top;
}