// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.section__title {
	color: #fff;
	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
	left: 100%;
	transform-origin: left top;
	height: 100%;
	@include xs {
		display: none;
	}
	svg {

	    max-height: 100%;
	    position: absolute;
	    top: 50%;
	    transform: translate(-20%,-50%);
	    @include sm {
	    	max-width: 100px;
	    }
	}
}

@-webkit-keyframes shake {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }
}

.case {
	display: flex !important;
	&s {
		// cases
		background-color: #fff;
		margin-bottom: 35px;
		&__nav {
			position: absolute;
			bottom: 40px;
			right: 50px;
			width: 479px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			@include lg {
				right: 20px;
				width: 339px;
			}
			@include sm {
				width: calc(100% - 40px);
				bottom: 20px;
			}
		}
		&__arrow {
			cursor: pointer;
			&s {
				display: flex;
				align-items: flex-end;
				flex-shrink: 0;
				margin-left: 10px;
				.counts {
					font-size: 30px;
					font-family: $serif;
					color: rgba(17, 38, 74, 0.5);
					line-height: 1;
					margin: 0 13px;
					&-all {
						margin-left: -7px;
					}
				}
				.count-cur {
					font-weight: bold;
					font-size: 45px;
					color: $primary;
					margin: 0 -4px 0 4px;
				}
			}	
			
		    &.cases__next {
		    	
		    }

		}
		&__dots {
			
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				list-style: none;
				margin-left: -10px;
				margin-top: -10px;
				li {
					width: 6px;
					height: 6px;
					background-color: #11264A;
					margin-left: 10px;
					border-radius: 50%;
					margin-top: 10px;
					&.slick-active {
						background-color: $primary;
					}
					button {
						display: none;
					}
				}
			}
		}

		&-wrap {	
			
		}
	}
	
	&__img {
		height: 100%;
		width: 100%;
	    background-size: cover;
   		background-position: center;
   		@include xs {
   			padding-bottom: 50%;
   		}
	}
	&__inner {
		display: flex;
		width: 100%;
		box-shadow: 0px 4px 20px rgba(17, 38, 74, 0.2);
		background-color: #fff;
		@include sm {
			flex-wrap: wrap;
		}
	}
	&__content {
		max-width: 404px;
	}

	&__left {
		width: calc(100% - 579px);
		@include lg {
			width: calc(100% - 379px);
		}
		@include sm {
			width: 100%;
			height: 200px;
		}
		@include xs {
			height: auto;
		}
	}
	&__right {
		width: 579px;
		padding: 40px 50px 145px;
		@include lg {
			width: 379px;
			padding: 30px 20px 100px;
		}
		@include sm {
			width: 100%;
			padding-bottom: 60px;
		}
		@include xs {
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 20px;
		}
		p {
			margin-bottom: 23px;
			@include xs {
				margin-bottom: 14px;
			}
		}
		h4 {
			margin-bottom: 12px;
			@include xs {
				margin-bottom: 6px;
			}
		}
	}
	&__title {
		font-family: $serif;
		font-size: 25px;
		line-height: 1.4;
		font-weight: bold;
		color: $primary;
		margin-bottom: 23px;
		@include xs {
			font-size: 19px;
			margin-bottom: 19px;
			line-height: 1.3;
		}
		.big {
			font-size: 45px;
			@include xs {
				font-size: 24px;
			}
		}
	}
}

.advantages {
	// margin-left: -63px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 110px;
	margin-top: -20px;
}
.advantage {
	width: calc(100%/4 - 47px);
	margin-top: 20px;
	@include lg {
		width: calc(100%/4 - 15px);
	}
	@include md {
		width: calc(100%/2 - 15px);
	}
	@include sm {
		width: 100%;
	}
	h4 {
		color: $primary;
	}
	p {

	}
}

.form-section {
	background-image: url(../img/content/form_bg.jpg);
}

.form {
	.inp {
		@include placeholder {
			color: rgba(17, 38, 74, 0.6);
		}
		width: 100%;
		height: 45px;
		border-radius: 5px;
		border: none;
		padding: 0 16px;
		font-size: 15px;
	}
	textarea.inp {
		resize: none;
		text-align: left;
	    font-family: inherit;
	    height: 128px;
	    padding: 16px;
	}
	.inp-phone {
		font-size: 18px;
		font-weight: 500;
		padding-left: 33px;
		background-image: url(../img/content/phone.svg);
		background-position: left 10px center;
		background-repeat: no-repeat;
	}
	.field {
		border-radius: 7px;
		background: linear-gradient(to right, #D4AC6B, #FFDCA3);
		padding: 3px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		&__label {
			margin-bottom: 24px;
			@include sm {
				font-size: 14px;
				margin-bottom: 5px;
			}
			&-small {
				font-weight: 300;
				font-size: 10px;
				margin-bottom: 5px;
			}
		}
		&__message {
			background-color: #11264A;
			border-radius: 5px;
			color: #fff;
			width: 230px;
			font-weight: 300;
			font-size: 14px;
			height: 50px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			margin-left: 35px;
			top: 0;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
			position: absolute;
			left: 100%;
			top: 0;
			&:before {
				content: '';
				display: block;
				border: 7.5px solid transparent;	
				border-right: 7.5px solid #11264A;
				position: absolute;
				right: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
			@include sm {
				width: 100% !important;
				left: 50%;
				margin-left: 0;
				margin-bottom: 20px;
				transform: none;
				top: auto;
				bottom: 100%;
				margin-left: -50%;
				width: 243px;
				&:before {
					right: 50%;
					transform: translateX(50%);
					top: 100%;
					border: 7.5px solid transparent;	
					border-top: 7.5px solid #11264A;
				}
			}
			&.field__message_top {
				left: 50%;
				margin-left: 0;
				margin-bottom: 40px;
				transform: none;
				top: auto;
				bottom: 100%;
				margin-left: -50%;
				width: 243px;
				&:before {
					right: 50%;
					transform: translateX(50%);
					top: 100%;
					border: 7.5px solid transparent;	
					border-top: 7.5px solid #11264A;
				}
			}
		}
		&.warning {
			.field__message {
    			animation-name: shake;
			    animation-duration: 1s;
			    animation-fill-mode: both
			}
			.inp-phone + .field__message {
				font-size: 0;
				&:after {
					display: inline-block;
					content: 'Телефон введен не верно';
					font-size: 14px;
				}
			}
		}
		&-wrap {

		}

	}
}

.form-section {
	&__inner {
		padding: 80px 0 103px;
	}
}

.selection-form {
	display: flex;
	flex-wrap: wrap;
	max-width: 1148px;
	box-shadow: 0px 9px 25px rgba(10, 27, 57, 0.4);
	margin: 0 auto;
	&__left {
		width: calc(100% - 407px);
		padding: 65px 15px 0px 51px;
		background-color: #fff;
		@include lg {
			width: 100%;

		}
		@include md {
			padding: 40px 0px 20px 10px;
		}
	}
	&__right {
		width: 407px;
		padding: 59px 49px;
		color: #fff;
		background: linear-gradient(180deg, #173363 0%, #11264A 100%), #11264A;
		@include lg {
			width: 100%;
			order: -1;
			padding: 40px 70px;
		}
		@include md {
			padding: 30px;	
		}
		@include sm {
			padding: 20px;
		}
		h2 {
			color: inherit;
			@include sm {
				margin-bottom: 10px;
			}
		}
		p {
			font-size: 18px;
			@include md {
				font-size: 16px;
			}
			@include sm {
				font-size: 14px;
			}
		}
	}
	.field-wrap {
		max-width: 346px;
		&:not(.field-wrap_double) {
			@include sm {
				max-width: 100%;
				.field {
					position: static;
				}
				margin-top: 70px;
			}
		}
		&.field-wrap_double {
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		    align-items: flex-end;
			.field-wrap__section {
				&:first-child {
					width: 344px;
					@include lg {
						width: calc(100% - 280px);
					}
					@include sm {
						width: 100%;
					}
				}
				&:last-child {
					width: 243px;
					margin-bottom: -20px;
					@include sm {
						width: 100%;
						margin-top: 90px;
					}
				}
			}
		}
	}
}

.form-content {
	padding: 35px 20px 30px;
	@include sm {
		padding: 15px 20px 20px 10px;
		
	}
	.field_submit {
		margin-top: 56px;
		text-align: right;
		@include sm {
			margin-top: 25px;
		}
	}
}

.steps {
	.slick-list {
		// overflow: visible;
	}
}

.step__progressbar {
	height: 7px;
	background-color: #F6F6F6;
	width: 100%;
	border-radius: 5px;
	display: block;
	max-width: 383px;
	margin-top: 6px;
	@include sm {
		max-width: 100%;
	}
	&-current {
		background: #E8C48A;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 25%;
		z-index: 1;
		border-radius: 5px;
		transition: .3s;
	}
	&-wrap {
		margin-bottom: 31px;
		padding: 0 20px;
		@include md {
			margin-bottom: 10px;
		}
		@include sm {
			padding: 0 20px 0 10px;
		}
	}
	&-counts {
		display: flex;
		align-items: center;
		font-size: 15px;
		font-weight: 500;
	}
	&-divider {
		margin: 0 3px;
	}
}

.btn-submit {
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	padding: 2px;
	box-shadow: 0px 5px 10px rgba(195, 139, 47, 0.5);
	color: inherit;
	text-decoration: none;
	border-radius: 7px;
	display: inline-block;
    background: linear-gradient(to right,#D4AC6B,#FFDCA3);
    border: none;
    font-family: inherit;
    &:before {
    	content: '';
    	display: block;
    	position: absolute;
    	right: 100%;
    	margin-right: 12px;
    	top: -16px;
    	width: 53px;
    	height: 45px;
    	background: url(../img/content/arrow_submit.svg);
    }
	span {
		font-weight: 500;
		text-shadow: 0px 1px #FBD9A4;
		font-size: 12px;
		width: 174px;
		height: 35px;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		display: inline-flex;
		background: linear-gradient(90deg, #D7B57E 0%, #FAD08C 100%);
		border-radius: 5px;
	}
}

.selectize-input  {
    width: 100%;
    height: 45px;
    border-radius: 5px !important;
    border: none;
    padding: 0 16px;
    display: flex !important;
    align-items: center;
}

.selectize-dropdown {
	margin-top: 7px;
    margin-left: -2px;
	background: #FFFFFF;
	border: 2px solid rgba(17, 38, 74, 0.1);
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgba(17, 38, 74, 0.2);
}

.selectize-control.single  .selectize-input::after {
	background-image: url(../img/content/arrow-bottom.svg);
	width: 12px;
	height: 6px;
	border: none;
	margin-top: -3px !important;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
	font-size: 15px !important;
}
.selectize-input input {
	min-width: 80%;
}

.selectize-control {
	width: 100%;
}

.selectize-dropdown-content .option {
	min-height: 50px;
	padding: 10px 20px;
	font-size: 15px;
	display: flex;
	align-items: center;
	border: 2px solid transparent;
	&.active {
		font-weight: 500;	
		background: #FBD9A4;
		border: 2px solid rgba(17, 38, 74, 0.1);
	}
}

.checkbox {
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	&-imitator {
		width: 12px;
		height: 12px;
		background: #FBD9A4 center left 1.5px no-repeat;
		display: inline-flex;
		vertical-align: middle;
		margin-right: 8px;
	}
	&:checked + .checkbox-imitator {
		background-image: url(../img/content/check.svg);
	}
	&-wrap {
		display: flex;
		align-items: center;
		font-weight: 300;
		font-size: 10px;
		color: rgba(17, 38, 74, 0.8);
		cursor: pointer;
	}
}

.step-4 {
	padding-bottom: 60px;
	.checkbox-wrap {
		margin: 10px 0 29px;
	}
	.field_submit {
		margin-top: 0;
	}
}

.success-popup {
	text-align: center;
	background-color: #fff;
	padding: 108px 20px 125px;
	overflow: hidden;
    max-width: 1148px;
    margin: 0 auto;
    @include md {
    	padding: 80px 20px 100px;
    }
    @include sm {
    	padding: 60px 20px 80px;
    }
    .h1 {
    	@include sm {
    		font-size: 25px;
    	}
    }
	p {
		font-size: 18px;
		line-height: 1.38;
		@include sm {
			font-size: 14px;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&__thank {
		position: absolute;
		bottom: 0;
		transform: translate(-50%, 0%);
		width: 80%;
		z-index: 1;
		left: 50%;
		height: 90px;
	    background: url(../img/content/text-thank.svg) bottom center no-repeat;
	    background-size: contain;
	}
}
.success-content {
	display: none;
}

.close-btn {
	background-image: url(../img/content/close.svg);
	width: 21px;
	height: 21px;
	position: absolute;
	right: 30px;
	top: 30px;
}