// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

// Сброс списка
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Двойная линия без позиционирвоания и ширины
@mixin pseudo-double-line {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $gold-dark;
    box-shadow: 0 4px 0 $gold-dark;
}

// Золотой круг без позиционирвоания и размеров
@mixin pseudo-circle {
    position: absolute;
    content: "";
    border-radius: 50%;
    box-shadow:
        inset 0px 0px 0px 1px rgba(168, 127, 40, 0.4),
        inset 0px 0px 0px 4px white,
        inset 0px 0px 0px 5px rgba(168, 127, 40, 1);
}

// Модификатор цвета фона
@mixin mod-color {
    &--light {
        background-color: $bg-light;
    }

    &--medium {
        background-color: $bg-medium;
    }

    &--dark {
        background-color: $bg-dark;
    }
}

// Декоративная линия в кнопках
@mixin button-line {
    position: relative;
    content: "";
    width: 20px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    transition: transform .4s ease;
}

// Добавить к section-block которому нужен фон с ромбами
@mixin bg-rhomb {
    background-image: url(../img/ui/pattern-rhomb.png);
    background-repeat: repeat;
    background-position: center;
}

// Псевдо угловые завитушки для виджетов
@mixin corner-frame {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url(/img/ui/widget-corner-frame.svg);
    background-repeat: no-repeat;
    background-size: 60px;
}

@mixin icons-url {
    background-image: url('../img/ui/icons/sprite/sprite.svg') !important;
}

@mixin clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}


@mixin lg {
  @media screen and (max-width: #{map-get($grid-breakpoints, 'xl') - 1px}) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: #{map-get($grid-breakpoints, 'lg') - 1px}) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: #{map-get($grid-breakpoints, 'md') - 1px}) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: #{map-get($grid-breakpoints, 'sm') - 1px}) {
    @content;
  }
}
