// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1430px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1400px
);

/**
 * Fonts
 */

$serif: "Playfair Display", Georgia, sans-serif;
$sans: "Roboto", Arial, sans-serif;

/**
 * Colors
 */

$b: #11264A;
$primary: #C69642;